/* impotacion de fuente: Open Sans , desde fonts.googleapis.com*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Ubuntu:ital,wght@0,300;0,700;1,400;1,500&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Open Sans';
    background-color: rgb(19,0,2);
}
header{
    background: url(img/portada.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}
/*
header h1{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 30px; 
    font-size: 54px; 
    text-align: center; 
    font-weight: bold; 
    border-radius: 10px;
    transition: .3s;
}

header h1:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}
*/
.contenedor{
    border-top: solid white;
    max-width: 90%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que sale fuera del contenedor */
    /* contain: paint; */
}
.contendor-items{
    
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}

.item{
    background-color: whitesmoke;
    max-width: 200px;
    margin: auto;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.item:hover{
    box-shadow: 0 0 20px whitesmoke;
    scale: 1.05;
}
.img-item{
    background-color: whitesmoke;
    width: 100%;
    height: 200px;
    padding: 5px;
}
.titulo-item{
    background-color: whitesmoke;
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.precio-item{
    background-color: whitesmoke;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.boton-item{
    display: block;
    margin: 10px auto;
    font-size: 20px;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* Seccion carrito */
.carrito{
    border: 1px solid whitesmoke;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 30px;
    transition: .3s;
    opacity: 0;
    margin-right: -100%;
    color: whitesmoke;

}
.header-carrito{
    text-align: center;
    border-bottom: solid 1px whitesmoke;
    padding: 30px 0;
}

.carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid cadetblue;
    padding: 20px;
}

.carrito-item img{
    margin-right: 20px;
}
.detalle-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.detalle-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.detalle-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.detalle-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
}
.carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: whitesmoke;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.btn-eliminar i{
    pointer-events: none;
}
.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.fila{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
#total{
    color: #000;
    background-color: whitesmoke;
}
.carrito-precio-total{
    color: #000;
    background-color: whitesmoke;
}
.btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.btn-pagar:hover{
    scale: 1.05;
}
/* SECCION RESPONSIVE */
@media screen and (max-width: 950px) {
    .contenedor {
      display: block;
    }
    .contendor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }